{% extends "layout.html" %}

{% block content %}
    <div class="container" >
        <div style="max-width: 600px; margin: 50px auto">
        <h1>Reset Password Form</h1>
        {% if messages %}
            <div class="my-5 alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                <h5 class="m-0">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </h5>
            </div>
        {% endif %}
        {% if form.errors %}
        <div class="my-5 alert alert-danger">
            <h5 class="m-0">
                {% for key, error in form.errors.items %}
                {{ error }}
            {% endfor %}
            </h5>
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <table>
                {% for field in form %}
            <tr>
                <td style="float:right">{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
                {% endfor %}
                                    <tr>
                <td></td>
                <td><input type="button" class="show-password" value="SHOW" onclick="myFunction()" id="show-hide"></td>
            </tr>
                <tr>
                <td></td>
                <td><input style="float:right" class="login-button" type="submit" value="Reset"></td>
            </tr>
            </table>
        </form>
        </div>
    </div>

            <script>
    function myFunction() {
  var x1 = document.getElementById("id_new_password1");
  var x2 = document.getElementById("id_new_password2");
  var y = document.getElementById("show-hide");
  if (x1.type === "password") {
    x1.type = "text";
    x2.type = "text";
    y.value = "HIDE"
  } else {
    x1.type = "password";
    x2.type = "password";
    y.value = "SHOW"
  }


}
</script>
{% endblock %}