{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="container" >
        <div style="max-width: 600px; margin: 50px auto">

        <h1 style="display: inline-block">Order: {{ order.id }}</h1>
        <input type="submit" onclick="window.location.href='{% url 'accounts:profile-orders' %}';" value="Back" class="login-button"
                       style="display: inline-block; float: right">
        <table>
        {% for key, value in order.items %}
                <tr>
                <td style="font-weight: bold; width: 150px; text-align: right; padding-right: 20px">{{ key }}: </td>
                <td>{{ value }}</td>
                </tr>
        {% endfor %}
        </table>
        <hr>
        {% for item in items %}
             <div style="margin-top: 10px; position: relative; width: 100%; border: 1px solid #eee;">
                    <a href="{{ item.model.get_absolute_url }}">
                   <div class="cart-item" style="position: relative; width: 100%; border: 1px solid #eee; padding: 15px; min-height: 70px">
                        <div style="display: inline-block; vertical-align: top; max-width: 40%">{{ forloop.counter }}. {{ item.title }}
                        </div>

                        <div style="max-width: 50px; display: inline-block">
                            <img src="{% get_media_prefix %}{{ item.image }}">
                        </div>
                        <div style="position: absolute; right: 40px; bottom: 5px; margin-top: 10px; text-align: right   ">
                            Price Total: {{ item.price_total }}$<br>
                            One piece price: {{ item.price }}$
                        </div>
                    </div>
                        <div style="width: fit-content; margin: auto;">
                                Quantity: {{item.quantity}}
                        </div>
                    </a>
                    </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

