{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="container" >
        <div style="max-width: 600px; margin: 50px auto">
            {% if delete_form %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete User Account</legend>
                        <p>Are you sure you want to delete your account?  This will permanently delete your
                           profile and any content you have generated.</p>
                </fieldset>
                <div class="form-group">
                    <input class="delete-submit " type="submit" name="delete-submit" value="Delete Account">
                        <button class="login-button" style="float:right;"
                           href="{% url 'accounts:profile' %}">Cancel</button>
                </div>
            </form>
            {% else %}
        <h1 style="display: inline-block">Profile</h1>
                {% if user_form %}
                    <input type="submit" onclick="window.location.href='{% url 'accounts:profile' %}';" value="Back" class="login-button"
                       style="display: inline-block; float: right">
                {% endif %}
        {% if email_confirm %}
            <div class="my-5 alert {% if email_confirm.success %}alert-success{% else %} alert-danger{% endif %}">
                    <h5 class="m-0">{{ email_confirm.message }}
            </h5>
                  </div>
        {% endif %}
            {% if messages %}
                {% for message in messages %}
                 <div class="my-5 alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                    <h5 class="m-0">
                        {{ message }}
                    </h5>
                 </div>
                {% endfor %}
            {% endif %}

        {% if user_form.errors or profile_form.errors %}
        <div class="my-5 alert alert-danger">
            <h5 class="m-0">
                {% for key, error in user_form.errors.items %}
                {{ error }}
                {% endfor %}
                {% for key, error in profile_form.errors.items %}
                {{ error }}
                {% endfor %}
            </h5>
        </div>
        {% endif %}
        <table>
        <tr>
        <td style="vertical-align: top">
        <table style="margin-bottom: 30px">
            {% for key, value in profile.items %}
                <tr style="height:60px">
                <td style="font-weight: bold; width: 150px; text-align: right; padding-right: 20px">{{ key }}: </td>
                <td>{{ value }}</td>
                </tr>
            {% endfor %}
        {% if not user_form %}
            <tr>
                <td style="font-weight: bold; width: 150px; text-align: right; padding-right: 20px">Orders: </td>
                <td>
                    <input type="submit" onclick="window.location.href='{% url 'accounts:profile-orders' %}';" value="View" class="login-button">
                </td>
            </tr>
        {% endif %}
        </table>
        </td>
        <td></td>
        {% if user_form %}
            <td style="vertical-align: top">
            <form method="post">
            {% csrf_token %}
            <table>
                {% for field in user_form %}
                <tr>
                <td style="height: 60px">
                    {{ field }}
                </td>
                </tr>
                {% endfor %}
                {% for field in profile_form %}
                <tr>
                <td style="height: 60px">
                    {{ field }}
                </td>
                </tr>
            {% endfor %}
            </table>
            <input style="float: right" type="submit" name="edit-submit" value="Submit" class="login-button">
            </form>

            </td>
        {% endif %}
        </tr>
        {% if not user_form %}
            <tr>
                <td><form>{% csrf_token %}<input type="submit" class="login-button" name="change-password" value="Change password" formmethod="post" formaction="{% url 'accounts:password-change' %}"></form></td>
            <td><form>{% csrf_token %}<input type="submit" class="login-button" name="edit" value="Edit" formmethod="post"></form></td>
            </tr>
            <tr>
            <td></td>
            <td style="padding-top: 20px"><form>{% csrf_token %}<input type="submit" style="background: rgba(248,0,0,0.51)" class="login-button" name="delete" value="Delete Account" formmethod="post"></form></td>
            </tr>
        {% endif %}
        </table>
        {% endif %}
        </div>
    </div>
{% endblock %}

